<form action="/api/users" method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="userName" class="text-light">Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="userName" value="" placeholder="Aldi Megantara">
        </div>
        <div class="form-group">
            <label for="accountNumber" class="text-light">Account Number</label>
            <input type="number" name="accountNumber" value="" placeholder="1112323">
        </div>
        <div class="form-group">
            <label for="emailAdress" class="text-light">Email</label>
            <input type="text" name="emailAdress" value="" placeholder="AldiMegantara@gmail.com">
        </div>
        <div class="form-group">
            <label for="identityNumber" class="text-light">Identity Number</label>
            <input type="number" name="identityNumber" value="" placeholder="1234567">
        </div>
        <div class="form-group">
            <label for="status" class="text-light">Status</label>
            <div class="radio inline">
                <input type="radio" id="active" name="status" value="Active">
                <label for="active" class="radio-label">Active</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="incative" name="status" value="Inactive">
                <label for="incative" class="radio-label">Inactive</label>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>
    </div>
</form>